@model BookingVM
@* 
<div class="BookingFormcontainer" style="margin-top:150px">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-uppercase text-center">Create Booking</h2>
        </div>
    </div>
    <div class="row mt-2 justify-content-center">
        <div class="col-md-8 border p-4">
            <form method="post" enctype="multipart/form-data">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label asp-for="@Model.Bookings.Name" class="form-label"></label>
                        <input asp-for="@Model.Bookings.Name" class="form-control" />
                        <span asp-validation-for="@Model.Bookings.Name"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label asp-for="@Model.Bookings.PhoneNumber" class="form-label"></label>
                        <input asp-for="@Model.Bookings.PhoneNumber" class="form-control" />
                        <span asp-validation-for="@Model.Bookings.PhoneNumber"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="@Model.Bookings.ServiceId" class="form-label"></label>
                        <select asp-for="@Model.Bookings.ServiceId" asp-items="@Model.ServiceList" class="form-select">
                            <option disabled selected>--Select Service --</option>
                        </select>
                        <span asp-validation-for="@Model.Bookings.ServiceId "></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.Bookings.ServiceCategoryId" class="form-label"></label>
                        <select asp-for="@Model.Bookings.ServiceCategoryId" asp-items="@Model.ServiceCategoryList" class="form-select">
                            <option disabled selected>--Select Service Category--</option>
                        </select>
                        <span asp-validation-for="@Model.Bookings.ServiceCategoryId"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label asp-for="@Model.Bookings.WType" class="form-label"></label>
                        <select asp-for="@Model.Bookings.WType" asp-items="@Model.WorkTypeList" class="form-select">
                        </select>
                        <span asp-validation-for="@Model.Bookings.WType"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label asp-for="@Model.Bookings.Location" class="form-label"></label>
                        <select asp-for="@Model.Bookings.Location" asp-items="@Model.LocationList" class="form-select">
                        </select>
                        <span asp-validation-for="@Model.Bookings.Location"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label asp-for="@Model.Bookings.SType" class="form-label"></label>
                        <select asp-for="@Model.Bookings.SType" asp-items="@Model.ServiceTypeList" class="form-select">
                        </select>
                        <span asp-validation-for="@Model.Bookings.SType"></span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 text-end">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-danger">Back</a>
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
 *@

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Booking</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
</head>
<body>
    <div class="container BookingFormcontainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-uppercase text-center mb-4">Create Booking</h2>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-md-12 form-container">
                <div class="image-section"></div>
                <div class="form-section border p-4 rounded">
                    <form method="post" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label asp-for="@Model.Bookings.Name" class="form-label"></label>
                                <input asp-for="@Model.Bookings.Name" class="form-control" />
                                <span asp-validation-for="@Model.Bookings.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label asp-for="@Model.Bookings.PhoneNumber" class="form-label"></label>
                                <input asp-for="@Model.Bookings.PhoneNumber" class="form-control" />
                                <span asp-validation-for="@Model.Bookings.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label asp-for="@Model.Bookings.ServiceId" class="form-label"></label>
                                <select asp-for="@Model.Bookings.ServiceId" asp-items="@Model.ServiceList" class="form-select">
                                    <option disabled selected>--Select Service--</option>
                                </select>
                                <span asp-validation-for="@Model.Bookings.ServiceId" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="@Model.Bookings.ServiceCategoryId" class="form-label"></label>
                                <select asp-for="@Model.Bookings.ServiceCategoryId" asp-items="@Model.ServiceCategoryList" class="form-select">
                                    <option disabled selected>--Select Service Category--</option>
                                </select>
                                <span asp-validation-for="@Model.Bookings.ServiceCategoryId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label asp-for="@Model.Bookings.WType" class="form-label"></label>
                                <select asp-for="@Model.Bookings.WType" asp-items="@Model.WorkTypeList" class="form-select">
                                </select>
                                <span asp-validation-for="@Model.Bookings.WType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label asp-for="@Model.Bookings.Location" class="form-label"></label>
                                <select asp-for="@Model.Bookings.Location" asp-items="@Model.LocationList" class="form-select">
                                </select>
                                <span asp-validation-for="@Model.Bookings.Location" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label asp-for="@Model.Bookings.SType" class="form-label"></label>
                                <select asp-for="@Model.Bookings.SType" asp-items="@Model.ServiceTypeList" class="form-select">
                                </select>
                                <span asp-validation-for="@Model.Bookings.SType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-end">
                                <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-danger">Back</a>
                                <button type="submit" class="btn btn-success">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
