@model PopularPro

<div class="container" style="margin-top:150px;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-uppercase text-center text-decoration-underline">Edit Services</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 border">
            <form method="post" enctype="multipart/form-data">
                @*multipart/form-data-To sore image*@
                <div class="mb-3">
                    <label asp-for="@Model.ProName" class="form-label">
                        @* Lable name like brand name ..we can acces through *@
                    </label>
                    <input asp-for="@Model.ProName" class="form-control" />
                    @*validation ie showing the error to users*@
                    <span asp-validation-for="@Model.ProName" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="@Model.PriceDescription" class="form-label">  </label>
                    <input asp-for="@Model.PriceDescription" class="form-control" />
                    <span asp-validation-for="@Model.PriceDescription" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ProImage" class="form-label">  </label>
                    <input type="file" name="files" id="uploadBox" class="form-control" />

                </div>
                <div class="mb-3">
                    @*go to Back*@
                    <a asp-controller="PopularPro" asp-action="Index" class="btn btn-danger">Back</a>
                    <button type="submit" class="btn btn-warning">Update</button>

                </div>

            </form>
        </div>
        @* displaying img when updating *@
        <div class="col-md-4">
            @if (Model.ProImage != null)
            {
                <img src="@Model.ProImage" width="100%" />
            }

        </div>

    </div>

</div>
@*To avoid hit the server back*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
